# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/
*.nbconvert.ipynb

# =========================
# Data & Project Outputs (Updated)
# =========================
data/
datasets/
client_data/         # Created by preprocess.py (contains large .npz and figures)
results/             # Evaluation metrics and logs
*.csv
*.txt
*.zip
*.tar
*.gz

# =========================
# Model weights & checkpoints
# =========================
*.pt                 # Centralised and Federated checkpoints
*.pth
*.ckpt
checkpoints/

# =========================
# Logs & Temp
# =========================
logs/
runs/
*.data
!data/sample/
*.out
events.out.tfevents.*
/kaggle/
*.tmp

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Misc Binary Files
# =========================
*.pkl
*.pickle
*.joblib
*.h5
*.npy
*.npz

# =========================
# Secrets
# =========================
.env
*.env
*.key
*.pem